<!DOCTYPE html>
<html>
  <head>
    <title>Props</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <div class="brand float-left">
          <%= link_to 'props', root_path, class: 'navbar-brand' %>
        </div>
        <div class="add float">
          <% if current_user %>
            welcome back, <%= current_user.email %>
            <br />
            <%= link_to "new post", new_gram_path %>
            <%= link_to "sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "sign in", new_user_session_path %>
            <%= link_to "sign up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
      <br class="clear-fix" />
    
    </div>
  

    <%= yield %>
  </body>
</html>
